github "Alamofire/Alamofire" "swift-2.0"
github "Masonry/Snap" "swift-2.0"
github "swisspol/GCDWebServer"
github "kif-framework/KIF" "v3.2.1"
github "drmohundro/SWXMLHash" "xcode-7.0"           # So we get Swift 1.2 fixes.
github "rs/SDWebImage" "master"              # To get the fix for libwebp
github "fluffyemily/Base32"		     # fork for swift 2.0 compatibility
github "DaveWoodCom/XCGLogger" "swift_2.0"   # Previously: ~> 1.8
github "wesj/Deferred" "master"   # Making Deferred extensible
github "CEWendel/SWTableViewCell"
github "st3fan/SQLite.swift" "master"
github "mozilla/readability" "master"
